{% overextends "pages/page.html" %}

{% block main %}
    {% if users %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Is Staff?</th>
                    <th>Is Active?</th>
                    <th>Group</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="#" class = "js-show-email" data-email="{{ user.email }}">{{ user.username }}</a>
                    </td>
                    <td>
                        {{ user.is_staff }}
                    </td>
                    <td>
                        {{ user.is_active }}
                    </td>
                    <td>
                        {% for group in user.groups %}
                            <div>{{ group }}</div>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary js-hide-user" href="#">Hide</a>
                    </td>

                </tr>
            {% endfor %}
        </table>

        <div class="modal fade" id="user-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">User email</h4>
                    </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('.js-hide-user').click(function(){
                $(this).closest('tr').hide()
                return false
            })

            $('.js-show-email').click(function(){
                var email = $(this).attr('data-email')

                if (email.length) {
                    $('#user-modal .modal-body').text(email)
                } else {
                    $('#user-modal .modal-body').text("No email for user.")
                }

                $('#user-modal').modal('show')
                return false
            })
        </script>

    {% else %}
        <p>No users are available.</p>
    {% endif %}
{% endblock %}


